@use '../../../assets/variables' as var;

$button-color: #64748B;

a {
  text-decoration: none;
}

.panel {
  flex: 0 0 auto;
  z-index: 100;
  height: var.$panel-height;
  min-height: var.$panel-height;
  width: 100%;
  background-color: var.$main-color;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0 10px 0 #00000040;
  padding-bottom: env(safe-area-inset-bottom, 0);
}

.mapButton {
  margin-left: clamp(37px, 12.5vw, 60px);
}

.settingsButton {
  margin-right: clamp(37px, 12.5vw, 60px);
}

@media (min-width: 1024px) {
  .mapButton {
    margin-left: clamp(48px, 10vw, 160px);
  }

  .settingsButton {
    margin-right: clamp(48px, 10vw, 160px);
  }

  .icons {
    width: 48px;
    height: 48px;
  }
}

.icons {
  width: clamp(40px, 3vh, 80px);
  height: clamp(40px, 3vh, 80px);
}

.active .button {
  color: var.$main-elements-color;
}


.button {
  background: none;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $button-color;
}