.leaflet-control-attribution {
  opacity: 0 !important;
}

.leaflet-container {
  position: relative;
  width: 100%;
  height: 1000px;
  margin: auto;
  z-index: 1;
}

.leaflet-control-zoom {
  position: absolute;
  z-index: 10000 !important;
  top: 450px;
  left: 340px;
}

.custom-icon-zoom {
  position: absolute !important;
  bottom: -400px;
  right: 1px;
}

.leaflet-container {
  width: 100vw;
  height: 100vh;
}