.leaflet-control-attribution {
  opacity: 0 !important;
}

.leaflet-container {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.leaflet {
  width: 100%;
  height: 100%;
}

.leaflet-control-zoom {
  display: none;
}

.custom-icon-zoom {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 12px;
  margin-right: 12px;
}

.custom-icon-zoom svg {
  display: block;
}
