.leaflet-control-attribution {
  opacity: 0 !important;
}

.leaflet-container {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.leaflet {
  width: 100%;
  height: 100%;
}

.leaflet-control-zoom {
  display: none;
}

.leaflet-top.leaflet-right {
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 0;
}

.custom-icon-zoom {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0;
}

.custom-icon-zoom svg {
  display: block;
}
